.root.error {
  --background-color: #fef2f2;
  --color: #ef4444;
  --border-color: #ef4444;
}
.root {
  --background-color: #f9fafb;
  --color: #6b7280;
  --border-color: #0075ff;
}
.select {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  padding: 0.625rem;
  color: var(--color);
  outline-color: var(--border-color);
}
.label {
  margin-bottom: 0.5rem;
  display: block;
  font-weight: 500;
  color: var(--color);
}
