@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "./assets/css/base.css";

html {
  font-family: "Roboto", sans-serif;
  color: #6b7280;
  background-color: #fff;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}
